data_processing/data/BioASQ-training7b
data_processing/data/MedQuAD-master
data_processing/data/MedInfo2019-QA-Medications.xlsx
data_processing/data/*multi*.json
data_processing/data/*single*.json
data_processing/data/question_driven_answer_summarization_primary_dataset.json
data_processing/data/bioasq_collection.json
data_processing/data/bioasq_ideal_answers.json
data_processing/bioasq_snippets.json
data_processing/medinfo_section*.json
data_processing/bioasq_abs2summ_training_data_without_question.json
data_processing/bioasq_abs2summ_training_data_with_question.json
data_processing/data/bart/with_question/
data_processing/data/bart/without_question/
data_processing/data/bioasq_abs2summ_binary_sent_classification_training.json
data_processing/data/bioasq_abs2summ_training_data_without_question.json
data_processing/data/bioasq_snippets.json
data_processing/data/medinfo_section2answer_validation_data_without_question.json
data_processing/data/medinfo_section2answer_validation_data_without_question_s-tags.json
models/pointer_generator/bioasq_abs2summ*
models/bart/dict.txt
models/bart/encoder.json
models/bart/vocab.bpe
models/bart/checkpoints*
models/bart/bart.large
