data_processing/data/BioASQ-training7b
data_processing/data/MedQuAD-master
data_processing/data/MedInfo2019-QA-Medications.xlsx
data_processing/data/*multi*.json
data_processing/data/*single*.json
data_processing/data/question_driven_answer_summarization_primary_dataset.json
data_processing/data/bioasq_collection.json
data_processing/data/bioasq_ideal_answers.json
data_processing/bioasq_snippets.json
data_processing/medinfo_section*.json
data_processing/bioasq_abs2summ_training_data_without_question.json
data_processing/bioasq_abs2summ_training_data_with_question.json
data_processing/data/bart/with_question/
data_processing/data/bart/without_question/
evaluation/data/pointer_generator/chiqa_eval/*
evaluation/data/bart/chiqa_eval/*
evaluation/data/sentence_classifier/chiqa_eval/*
evaluation/data/baselines/chiqa_eval/*
models/bart/dict.txt
models/bart/encoder.json
models/bart/vocab.bpe
models/bart/checkpoints*
models/bart/bart.large
